body{
    background-color: #EDD263;
}
#searchFood{
    background: #3B2D64;
    color: #fff;
    border: 0px;
    outline: none;
    font-size: 21px;
}
#searchFood:focus{
    border: 0;
    box-shadow: 0;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
     box-shadow: 0 0 0 0 rgb(13 110 253); 
}
#namefood{
    outline: none;
}
.form-control:focus {
     box-shadow: 0 0 0 0 rgb(13 110 253);
}
#Detailsfood li{
    list-style: none;
}
#Detailsfood h5{
    color: #3B2D64;
}
.orange{
    background-color: #fff;
    color: #3B2D64;
}
.text_color{
    color:#3B2D64 !important;
}
#errorpart{
    color:#ff5722;
}
